* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif);;
}

body {
    background-color: #121212;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;   
    align-items: center;      
}

.container {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logo {
    height: 55px;
    width: 55px;
}

label{
    display: inline-block;
    color: #fff;
    font-weight: 700;
}

h1 {
    color: white;
    font-size: 48px;
    font-weight: 800;
    box-sizing: border-box;
    margin-block: 0;
}

.or{
    color: white;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    display: flex;
}
.social-buttons {
    display: flex;
    flex-direction: column;
}

.social-btn {
    width: 100%;
    height: 52px;
    border: 1px solid #727272;
    border-radius: 50px;
    background: transparent;
    color: white;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.2s ease;
}

input {
    width: 100%;
    height: 48px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #727272;
    background: #121212;
    color: white;
    margin: 10px 0 20px 0;
}

.social-btn:hover {
    border: 1px solid white;
}

.icon {
    position: absolute;
    left: 24px;
}

.continueBtn {
    background-color: #1ed760;
    border-radius: 50px;
    color: #121212;
    width: 100%;
    height: 52px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.2s ease;
}

.continueBtn {
    cursor: pointer;
}

.extra {
    color: #b3b3b3;
}

.SignBtn{
    font-weight: 700;
    align-items: center;
    background-color: initial;
    color: white;
    display: inline-flex;
    justify-content: center;
    min-inline-size: 0;
    position: relative;
    transition-property: color, transform;
}