@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
   margin: 0px;
   padding: 0px;
   font-family: "Roboto", sans-serif;
}

body {

   background-color: black;
   color: white
}

.logo img {
   width: 32px;
}

.left {
   width: 25vw;
   padding: 10px;
}

.right {
   width: 75vw;
   margin: 16px 0;
}

.home {
   padding: 10px;
}

.home ul li {
   width: 14px;
   gap: 15px;
   display: flex;
   list-style: none;
   padding-top: 14px;
   font-weight: bold;
}

.invert {
   filter: invert(1);
}

.heading {
   width: 100%;
   gap: 15px;
   display: flex;
   padding-top: 14px;
   padding: 23px 14px;
   font-weight: bold;
   align-items: center;
   font-size: 13px;
}

.heading img {
   width: 30px;
}

.library {
   min-height: 71vh;
   position: relative;
}

.footer {
   display: flex;
   gap: 13px;
   font-size: 10px;
   position: absolute;
   bottom: 0;
}

.footer a {
   color: grey;
}

.header {
   display: flex;
   justify-content: space-between;
}

.header>* {
   padding: 20px;
}

