@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
   margin: 0px;
   padding: 0px;
   font-family: "Roboto", sans-serif;
}

/* body{
   
    background-color: black;
    color: white
}  */

.logo img {
   width: 32px;
}

.left {
   width: 25vw;
   padding: 10px;
}

.right {
   width: 75vw;
}

.home {
   padding: 10px;
}

.home ul li {
   width: 14px;
   gap: 15px;
   display: flex;
   list-style: none;
   padding-top: 14px;
   font-weight: bold;
}

.invert {
   filter: invert(1);
}