 .border {
    border: 2px solid #e91e63;
    margin: 3px;
 }

 .flex {
    display: flex;
 }

 .justify-center {
    justify-content: center;
 }

 .items-center {
    align-items: center;
 }

 .bg-black {
    background-color: black;
    color: white;
 }

 .bg-grey {
    background-color: #1f1f1f;
 }

 .rounded {
    border-radius: 7px;
 }

 .m-1 {
    margin: 5px;
 }

 .p-1 {
    padding: 10px;
 }